@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Manrope:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zain:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");

@import "tailwindcss";

