#root {
    display: flex;
    justify-content: center;
}

.gamePage {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1200px;
}

.gameHeader {
    display: block;
    text-align: center;
    margin: 20px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

.gameContent{
    display: flex;
    justify-content: center;
}

.gameBody {
    flex: 1;
    display: flex;
    justify-content: center;
}

.gameStage {
    width: min(900px, 100%);
    max-width: 1200px;
    display: flex;
    flex: 1;
    justify-content: center;
    background-color: #333333;
    min-height: 80vh;
}

.gameMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 12px;
}

.gameFooter {
    flex: 10;
    display: flex;
    flex-direction: column-reverse;
    text-align:end;
    margin: 10px;
}